#directories
.kdev4/
_ReSharper.survival/
build/
CMakeFiles/
debug/
ipch/
minsizerel/
release/
relwithdebinfo/
survival.dir/
Win32/

#files
*.cmake
*.opensdf
*.sdf
*.sln
*.suo
*.user
*.vcxproj
*.vcxproj.filters
ALL_BUILD*
CMakeCache.txt
ZERO_CHECK*
/allegro.log
